.gl-btn-main {
    padding: 10px 16px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 6px;
    position: relative;
    background: linear-gradient(to right, #15549e, #3179b8);
    z-index: 1;
}

.gl-btn-main:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #9c0055, #bb0367);
    z-index: -1;
    border-radius: 6px;
    transition: opacity 200ms;
    opacity: 0;
}

.gl-btn-main:hover:before {
    opacity: 1;
}

@media screen and (max-width: 960px) {
    .gl-btn-main {
        padding: 8px 14px;
    }
}

.gl-btn-secondary {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;
    color: #bb0367 !important;
    border: 1px solid #bb0367;
    transition: background-color 200ms, color 200ms;
}

.gl-btn-secondary:hover {
    color: #ffffff !important;
    background-color: #bb0367;
}

.gl-btn-secondary.mod-dark-background {
    border: 1px solid #bddff8;
    color: #ffffff  !important;
}

.gl-btn-secondary.mod-dark-background:hover {
    background-color: #ffffff;
    color: #1a296b  !important;
}

.gl-btn-secondary.mod-little {
    padding: 1px 8px;
    font-size: 14px;
}

.gl-checkbox-wrapper {
    cursor: pointer;
}

.gl-checkbox-wrapper input {
    display: none;
}

.gl-checkbox-content {
    padding-left: 22px;
    display: inline-block;
    position: relative;
}

/* чекбокс */
.gl-checkbox-content:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    top: 2px;
    left: 0;
    background-color: #eeeeee;
}

/* активный чекбокс */
.gl-checkbox-wrapper input:checked + .gl-checkbox-content:before {
    background-image: url("../../assets/icons/section-1/checkbox-active.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
