.gl-layout-footer {
    z-index: 2;
}

.f-top-block-wrapper {
    background: radial-gradient(circle farthest-corner at 100px 50px, #044789, #043677)
}

.f-top-block-content {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr 3fr;
    grid-gap: 30px;
    padding-top: 40px;
    padding-bottom: 50px;
}

@media screen and (max-width: 760px) {
    .f-top-block-content {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 1160px) {
    .f-top-block-content {
        grid-template-columns: 2fr 2fr 2fr 2fr 3fr;
        grid-gap: 20px;
    }
}

@media screen and (max-width: 960px) {
    .f-top-block-content {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px 20px;
    }
}

@media screen and (max-width: 760px) {
    .f-top-block-content {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}

.f-logo-wrapper {
    margin-bottom: 20px;
    display: inline-block;
}

@media screen and (max-width: 760px) {
    .f-logo-wrapper {
        margin-bottom: 10px;
    }
}

.f-logo {
    height: 80px;
}

@media screen and (max-width: 1160px) {
    .f-logo {
        height: 50px;
    }
}

.f-social-wrapper {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #106e9f;
}

.f-social {
    margin-right: 6px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 1160px) {
    .f-social {
        width: 30px;
        height: 30px;
    }
}

.f-social:last-child {
    margin-right: 0;
}

.f-social.vk {
    background-image: url("../../assets/icons/footer/vk.png");
    transition: background-image 200ms;
}

.f-social.vk:hover {
    background-image: url("../../assets/icons/footer/vk-hover.png");
}

.f-social.ok {
    background-image: url("../../assets/icons/footer/ok.png");
    transition: background-image 200ms;
}

.f-social.ok:hover {
    background-image: url("../../assets/icons/footer/ok-hover.png");
}

.f-social.fb {
    background-image: url("../../assets/icons/footer/facebook.png");
    transition: background-image 200ms;
}

.f-social.fb:hover {
    background-image: url("../../assets/icons/footer/facebook-hover.png");
}

.f-social.inst {
    background-image: url("../../assets/icons/footer/inst.png");
    transition: background-image 200ms;
}

.f-social.inst:hover {
    background-image: url("../../assets/icons/footer/inst-hover.png");
}

.f-social.youtube {
    background-image: url("../../assets/icons/footer/youtube.png");
    transition: background-image 200ms;
}

.f-social.youtube:hover {
    background-image: url("../../assets/icons/footer/youtube-hover.png");
}

.f-pay-wrapper {
    margin-top: 20px;
}

@media screen and (max-width: 760px) {
    .f-pay-wrapper {
        display: none;
    }
}

.f-pay-caption {
    font-size: 14px;
    color: #a3c7e7;
    margin-bottom: 16px;
}

.f-cards-wrapper {
    display: flex;
}

.f-card-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    width: 52px;
}

@media screen and (max-width: 1160px) {
    .f-card-item-wrapper {
        width: 40px;
    }
}

.f-card-item-wrapper:last-child {
    margin-right: 0;
}

.f-card-item {
    width: 100%;
}

.f-info-caption-btn {
    display: none;
    font-weight: bold;
    color: #ffffff;
}

@media screen and (max-width: 760px) {
    .f-info-caption-btn {
        display: block;
        font-size: 18px;
        margin-bottom: 0;
    }
}

.f-info-caption {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 30px;
}

@media screen and (max-width: 1160px) {
    .f-info-caption {
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 760px) {
    .f-info-caption {
        display: none;
    }
}

@media screen and (max-width: 760px) {
    .f-info-items-wrapper {
        display: none;
    }
}

.f-info-item-wrapper {
    margin-bottom: 10px;
}

.f-info-item-wrapper:last-child {
    margin-bottom: 0;
}

.f-info-item {
    display: inline-block;
    font-size: 14px;
    color: #c7e5f9;
}

.f-info-item.mod-white {
    color: #ffffff;
}

.f-info-item.mod-tel {
    font-size: 20px;
    font-weight: bold;
}

.f-tel-hint {
    color: #ffffff;
    font-size: 12px;
}

.f-info-items-wrapper a:hover {
    text-decoration: underline;
}

.f-center-block-wrapper {
    background-color: #03316e;
    padding-top: 14px;
    padding-bottom: 14px;
}

.f-center-block-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

@media screen and (max-width: 960px) {
    .f-center-block-content {
        grid-template-columns: 1fr;
        grid-gap: 6px;
        max-width: 500px;
        margin: 0;
    }
}

.f-center-text-item {
    color: #6995bc;
    font-size: 12px;
}

.f-center-link {
    font-size: 14px;
    color: #ffffff;
}

.f-center-link:hover {
    text-decoration: underline;
}

.f-bottom-block-wrapper {
    background-color: #009ddb;
    color: #ffffff;
    padding: 10px 6px;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .f-bottom-block-wrapper {
        font-size: 18px;
    }
}

@media screen and (max-width: 760px) {
    .f-bottom-block-wrapper {
        font-size: 14px;
        padding: 6px;
    }
}
