body * {
    font-size: 18px;
}

@media screen and (max-width: 1024px) {
    body * {
        font-size: 16px
    }
}

.gl-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.gl-layout-content {
    flex-grow: 1;
}

.gl-page-content {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1150px;
}

@media screen and (max-width: 560px) {
    .gl-page-content {
        padding: 0 20px;
    }
}

@media screen and (max-width: 360px) {
    .gl-page-content {
        padding: 0 10px;
    }
}

h2 {
    font-size: 46px;
    line-height: 44px;
}

@media screen and (max-width: 1024px) {
    h2 {
        font-size: 36px;
    }
}

@media screen and (max-width: 960px) {
    h2 {
        font-size: 30px;
        line-height: 30px;
    }
}

h4 {
    font-size: 24px;
    line-height: 24px;
}

@media screen and (max-width: 1024px) {
    h4 {
        font-size: 20px;
        line-height: 20px;
    }
}

.gl-nowrap {
    white-space: nowrap;
}

.gl-chat {
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 100;
    width: 300px;
    padding: 12px 10px 10px 60px;
    font-size: 18px;
    color: #ffffff;
    background-image: url("../../assets/icons/chat.png");
    background-position: left 22px top 50%;
    background-color: #ba0b65;
    border-radius: 16px 16px 0 0;
    cursor: pointer;
}

@media screen and (max-width: 760px) {
    .gl-chat {
        display: none;
    }
}

.gl-chat-small {
    display: none;
}

@media screen and (max-width: 760px) {
    .gl-chat-small {
        display: block;
        position: fixed;
        bottom: 16px;
        right: 30px;
        z-index: 100;
        width: 50px;
        height: 50px;
        background-color: #ba0b65;
        border-radius: 100px;
        background-image: url(../../assets/icons/chat.png);
        background-position: center;
        cursor: pointer;
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.7);
    }
}
