.s3-wrapper {
    margin-bottom: 70px;
}

@media screen and (max-width: 960px) {
    .s3-wrapper {
        margin-bottom: 50px;
    }
}

.s3-content {
    position: relative;
}

.s3-content:before {
    content: '';
    position: absolute;
    background-image: url("../../../assets/icons/section-3/bg-left.png");
    background-size: contain;
    height: 50px;
    width: 50px;
    bottom: -50px;
    left: -90px;
}

@media screen and (max-width: 1440px) {
    .s3-content:before {
        left: -30px;
    }
}

@media screen and (max-width: 1160px) {
    .s3-content:before {
        display: none;
    }
}

.s3-content:after {
    content: '';
    position: absolute;
    background-image: url("../../../assets/icons/section-3/bg-right.png");
    background-size: contain;
    height: 86px;
    width: 190px;
    bottom: -50px;
    right: -70px;
}

@media screen and (max-width: 1160px) {
    .s3-content:after {
        display: none;
    }
}

.s3-title {
    margin-bottom: 80px;
}

@media screen and (max-width: 960px) {
    .s3-title {
        margin-bottom: 50px;
        text-align: center;
    }
}

.s3-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
}

@media screen and (max-width: 1440px) {
    .s3-items-wrapper {
        grid-gap: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .s3-items-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 560px) {
    .s3-items-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1024px) {
    .s3-item-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.s3-item-icon {
    height: 80px;
    margin-bottom: 36px;
}

@media screen and (max-width: 960px) {
    .s3-item-icon {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 760px) {
    .s3-item-icon {
        height: 60px;
        margin-bottom: 10px;
        font-size: 16px;
    }
}

.s3-item-value {
    font-size: 18px;
    line-height: 24px;
}

@media screen and (max-width: 1024px) {
    .s3-item-value {
        text-align: center;
    }
}
