.s1-wrapper {
    padding-top: 70px;
    padding-bottom: 90px;
    background-image: url("../../../assets/images/section-1/background.png");
    background-size: cover;
    background-position: center;
    height: 616px;
    margin-bottom: 84px;
    position: relative;
}

@media screen and (max-width: 960px) {
    .s1-wrapper {
        padding-top: 40px;
        padding-bottom: 60px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 560px) {
    .s1-wrapper {
        padding-top: 20px;
        padding-bottom: 40px;
        margin-bottom: 30px;
    }
}

.s1-btn-prev-slide {
    position: absolute;
    height: 48px;
    width: 48px;
    background-size: contain;
    background-position: center;
    top: 50%;
    transform: translateY(-50%);
    transition: background-image 200ms;
}

@media screen and (max-width: 1300px) {
    .s1-btn-prev-slide {
        top: 10px;
        transform: translateY(0);
    }
}

@media screen and (max-width: 960px) {
    .s1-btn-prev-slide {
        display: none;
    }
}

.s1-btn-prev-slide.mod-prev {
    background-image: url("../../../assets/icons/section-1/arrow-left.png");
    left: 30px;
}

.s1-btn-prev-slide.mod-prev:hover {
    background-image: url("../../../assets/icons/section-1/arrow-left-hover.png");
}

.s1-btn-prev-slide.mod-next {
    background-image: url("../../../assets/icons/section-1/arrow-right.png");
    right: 30px;
}

.s1-btn-prev-slide.mod-next:hover {
    background-image: url("../../../assets/icons/section-1/arrow-right-hover.png");
    right: 30px;
}

.s1-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 960px) {
    .s1-content {
        flex-direction: column;
        align-items: flex-start;
    }
}

.s1-title {
    color: #ffffff;
    font-weight: normal;
}

.s1-title .mod-bold {
    font-weight: bold;
    font-size: 60px;
}

@media screen and (max-width: 1024px) {
    .s1-title .mod-bold {
        font-size: 48px;
    }
}

@media screen and (max-width: 760px) {
    .s1-title .mod-bold {
        font-size: 36px;
    }
}

.s1-info-wrapper {
    max-width: 480px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
}

@media screen and (max-width: 960px) {
    .s1-info-wrapper {
        max-width: 700px;
        margin-right: 0;
        margin-bottom: 20px;
        grid-gap: 14px;
    }
}

@media screen and (max-width: 760px) {
    .s1-info-wrapper {
        grid-template-columns: 1fr;
    }
}

.s1-info-value {
    color: #c5e8ff;
}

@media screen and (max-width: 560px) {
    .s1-info-value {
      display: none;
    }
}

.s1-info-price {
    color: #ffffff;
    font-size: 43px;
    display: inline-block;
    position: relative;
    padding-right: 80px;
}

@media screen and (max-width: 1024px) {
    .s1-info-price {
        font-size: 36px
    }
}

.s1-sticker {
    position: absolute;
    background-image: url("../../../assets/icons/section-1/sticker-action.png");
    height: 24px;
    width: 70px;
    right: 0;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s1-sticker.s1-sticker-content {
    font-size: 16px;
}

.s1-info-price .mod-little {
    font-size: 30px;
}

.s1-application {
    width: 354px;
    background-color: #ffffff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.7);
    padding: 36px 31px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 960px) {
    .s1-application {
        padding: 20px;
    }
}

@media screen and (max-width: 590px) {
    .s1-application {
        width: 100%;
    }
}

.s1-application:before {
    content: '';
    position: absolute;
    background-image: url("../../../assets/images/section-1/auth-background.png");
    background-size: contain;
    width: 280px;
    height: 400px;
    z-index: 1;
    top: 0;
    right: -58px;
}

@media screen and (max-width: 960px) {
    .s1-application:before {
        top: -30px;
    }
}

.s1-application-content {
    z-index: 2;
    position: relative;
}

.s1-application-caption {
    color: #242424;
}

.s1-application-value {
    font-size: 16px;
    color: #a4a4a4;
}

@media screen and (max-width: 1024px) {
    .s1-application-value {
        font-size: 14px;
    }
}

.s1-form-wrapper {
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {
    .s1-form-wrapper {
        margin-top: 12px;
    }
}

@media screen and (max-width: 960px) {
    .s1-form-wrapper {
        margin-top: 10px;
    }
}

.s1-control-wrapper {
    margin-bottom: 14px;
}

@media screen and (max-width: 1024px) {
    .s1-control-wrapper {
        margin-bottom: 10px;
    }
}

.s1-control-wrapper:last-child {
    margin-bottom: 0;
}

.s1-input-caption {
    font-size: 16px;
    margin-bottom: 6px;
    color: #5e5e5e;
}

@media screen and (max-width: 960px) {
    .s1-input-caption {
        margin-bottom: 4px;
    }
}

.s1-input {
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 6px;
    padding: 10px;
}

@media screen and (max-width: 1024px) {
    .s1-input {
        padding: 6px;
    }
}

@media screen and (max-width: 960px) {
    .s1-input {
        padding: 4px;
    }
}

.s1-application-btn {
    margin-top: 24px;
    width: 100%;
}

@media screen and (max-width: 960px) {
    .s1-application-btn {
        margin-top: 10px;
    }
}

.s1-checkbox-wrapper {
    display: inline-block;
    margin-top: 20px
}

@media screen and (max-width: 960px) {
    .s1-checkbox-wrapper {
        margin-top: 10px;
    }
}

.s1-checkbox-content {
    font-size: 13px;
    color: #8d8d8d;
}

.s1-checkbox-link {
    color: #505050;
    font-size: 13px;
}

.s1-checkbox-link:hover {
    text-decoration: underline;
}
