.s2-wrapper {
    margin-bottom: 140px;
}

@media screen and (max-width: 960px) {
    .s2-wrapper {
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 590px) {
    .s2-wrapper {
        margin-bottom: 50px;
    }
}

.s2-content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 1160px) {
    .s2-content {
        grid-gap: 30px;
    }
}

@media screen and (max-width: 960px) {
    .s2-content {
        grid-template-columns: 1fr;
        justify-items: center;
        grid-template-areas: "info info" "slider documents";
    }
}

@media screen and (max-width: 760px) {
    .s2-content {
        grid-template-columns: 1fr;
        justify-items: center;
        grid-template-areas: "info" "slider" "documents";
    }
}

.s2-content:before {
    position: absolute;
    content: '';
    background-image: url("../../../assets/icons/section-2/bg.png");
    top: 100px;
    left: -180px;
    height: 506px;
    width: 430px;
    background-size: contain;
}

@media screen and (max-width: 1440px) {
    .s2-content:before {
        left: -100px;
        height: 370px;
        width: 294px;
    }
}

@media screen and (max-width: 1160px) {
    .s2-content:before {
        display: none;
    }
}

.s2-slider-wrapper {
    background-image: url("../../../assets/images/section-2/photo.jpg");
    width: 420px;
    height: 420px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
}

@media screen and (max-width: 1440px) {
    .s2-slider-wrapper {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 960px) {
    .s2-slider-wrapper {
        grid-area: slider;
    }
}

.s2-slider-wrapper:after {
    content: '';
    position: absolute;
    background-image: url("../../../assets/icons/section-2/sticker.png");
    background-size: contain;
    height: 300px;
    width: 272px;
    bottom: 0;
    transform: translateY(50%);
    left: -140px;
}

@media screen and (max-width: 1440px) {
    .s2-slider-wrapper:after {
        height: 170px;
        left: -60px;
        transform: translateY(40%);
    }
}

@media screen and (max-width: 360px) {
    .s2-slider-wrapper:after {
        height: 120px;
        left: -30px;
    }
}

.s2-arrows-wrapper {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
}

.s2-arrow {
    width: 50px;
    height: 50px;
    background-color: #bb0367;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 200ms;
}

@media screen and (max-width: 1440px) {
    .s2-arrow {
        width: 40px;
        height: 40px;
    }
}

.s2-arrow:hover {
    background-color: #0b549d;
}

.s2-arrow.left {
    border-radius: 10px 0 0;
    background-image: url("../../../assets/icons/section-2/arrow-left.png");
    border-right: 1px solid #de6caa;
    box-sizing: content-box;
}

.s2-arrow.rite {
    border-radius: 0 0 10px;
    background-image: url("../../../assets/icons/section-2/arrow-right.png");
}

@media screen and (max-width: 960px) {
    .s2-info-wrapper {
        grid-area: info;
    }
}

.s2-info-caption {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
}

@media screen and (max-width: 960px) {
    .s2-info-caption  {
        text-align: center;
    }
}

.s2-info-caption .s2-caption-big {
    font-size: 44px;
}

@media screen and (max-width: 560px) {
    .s2-info-caption .s2-caption-big  {
        font-size: 34px;
    }
}

.s2-info {
    font-size: 18px;
    margin-bottom: 20px;
}

@media screen and (max-width: 560px) {
    .s2-info  {
        font-size: 16px;
    }
}

@media screen and (max-width: 960px) {
    .s2-btn-wrapper {
        display: flex;
        justify-content: center;
    }
}

.s2-documents-wrapper {
    width: 244px;
}

@media screen and (max-width: 1024px) {
    .s2-documents-wrapper {
        width: 170px;
    }
}

@media screen and (max-width: 960px) {
    .s2-documents-wrapper {
        display: flex;
        align-items: center;
        width: 350px;
        grid-area: documents;
    }
}

@media screen and (max-width: 560px) {
    .s2-documents-wrapper {
        width: 300px;
    }
}

.s2-caption-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
    .s2-caption-wrapper {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 960px) {
    .s2-caption-wrapper {
        align-items: center;
        margin-bottom: 0;
        margin-right: 20px;
    }
}

.s2-documents-caption {
    font-size: 18px;
    background-color: #e2f4fd;
    margin-right: 40px;
    flex: 1 1 auto;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .s2-documents-caption {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 960px) {
    .s2-documents-caption {
        flex: 0 0 auto;
    }
}

.s2-documents-btn-wrapper {
    flex: 0 0 auto;
}

.s2-license-btn {
    background-image: url("../../../assets/icons/section-2/licenses.png");
    height: 240px;
    width: 100%;
    background-size: contain;
    transition: background-image 200ms;
}

.s2-license-btn:hover {
    background-image: url("../../../assets/icons/section-2/licenses-hover.png");
}
