.s4-wrapper {
    background-color: #fbfbfb;
}

.s4-content {
    padding-top: 60px;
    padding-bottom: 70px;
    position: relative;
}

@media screen and (max-width: 960px) {
    .s4-content {
        padding-top: 40px;
        padding-bottom: 50px;
    }
}

.s4-content:before {
    content: '';
    position: absolute;
    background-image: url("../../../assets/icons/section-4/bg-left.png");
    background-size: contain;
    height: 416px;
    width: 410px;
    top: 40px;
    left: -160px;
}

@media screen and (max-width: 1160px) {
    .s4-content:before {
        display: none;
    }
}

.s4-content:after {
    content: '';
    position: absolute;
    background-image: url("../../../assets/icons/section-4/bg-right.png");
    background-size: contain;
    height: 288px;
    width: 346px;
    top: 30px;
    right: -350px;
}

.s4-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s4-subtitle {
    font-size: 14px;
    font-weight: bold;
    color: #bb0367;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.s4-line-under-title {
    height: 36px;
    margin-top: 30px;
    margin-bottom: 56px;
}

@media screen and (max-width: 960px) {
    .s4-line-under-title {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

.s4-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    justify-items: center;
}

@media screen and (max-width: 1160px) {
    .s4-grid-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 760px) {
    .s4-grid-wrapper {
        grid-template-columns: 1fr;
    }
}

.s4-cell-wrapper {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
}

.s4-cell-caption-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

@media screen and (max-width: 760px) {
    .s4-cell-caption-wrapper {
        margin-bottom: 10px;
    }
}

.s4-cell-caption {
    margin-right: 40px;
}

.s4-cell-item-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 16px;
}

@media screen and (max-width: 760px) {
    .s4-cell-item-wrapper {
        margin-bottom: 6px;
    }
}

.s4-cell-item {
    display: inline-block;
    color: #1555a5;
    margin-right: 10px;
}

.s4-cell-price {
    font-weight: bold;
    flex-shrink: 0;
}

.s4-cell-item:hover {
    text-decoration: underline;
}

.s4-cell-hint {
    font-size: 12px;
    color: #a1a1a1;
}
