@font-face {
  font-family: 'pt-sans';
  src: url('pt-sans-normal.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'pt-sans';
  src: url('pt-sans-bold.ttf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'pt-sans';
  src: url('pt-sans-italic.ttf');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'pt-sans';
  src: url('pt-sans-italic-bold.ttf');
  font-style: italic;
  font-weight: 700;
}

